body{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 12, 5);
    color: white;
    /*background-image: url(pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg);*/
}
.main_frame{
    max-width: 90%;
    width: 90%;
    margin: 5%;
}
.top{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.logo:hover{
    opacity: 0.9;
    border: 2px;
    border-color: aqua;
}
.Log{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: aquamarine;
    color: white;
    border: none;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 600;
}
.Log:hover{
    opacity: 1;
    border: 2px;
    border-color: aqua;
    background-color: rgb(40, 230, 166);
}
.mid_case{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (max-width:400px) {
        flex-direction: column;
    }
    @media (max-width:800px) {
        flex-direction: column;
    }
}
.left_text{
    padding-left: 2vw;
    width: 40vw;
    max-width: 45vw;
    height: auto;
    @media (max-width:400px) {
        width: 90vw;
        max-width: fit-content;
    }
    @media (max-width:800px) {
        width: 90vw;
        max-width: fit-content;
    }

}
.side_image{
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
    @media (max-width:400px) {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        margin-top: 5vw;
        justify-self: center;
        align-self: center; 
    }
    @media (max-width:800px) {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        margin-top: 7vw;
        justify-self: center;
        align-self: center;
    }
}
.side_image:hover{
    opacity: 0.8;
    width: 40.2vw;
    height: 40.2vw;
    @media (max-width:400px) {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        margin-top: 5vw;
        justify-self: center;
        align-self: center;
    }
    @media (max-width:800px) {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        margin-top: 7vw;
        justify-self: center;
        align-self: center;
    }

}
.Large_text{
    text-align: left;
    line-height: 36px;
    font-size: 30px;
    font-weight: 800;
}
.Medium_text{
    text-align: left;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}
.Small_text{
    text-align: left;
    line-height: 14px;
    font-size: 12px;
    font-weight: 200;
}
.img_grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4vw ;
}
.grid2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18vw;
}
.image_small{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.image_small:hover{
    width: 55px;
    height: 55px;
    border-radius: 27px;
    opacity: 0.8;
}
.img2{
    padding-top: 5vw;
}
.img3{
    width: 22vw;
    display: flex;
    justify-content: flex-end;
}
.arrow{
    height: 10px;
    width: 10px;
}
.footer_case{
    display: flex;
    flex-direction: row;
    margin-top: 10vw ;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: aqua;
    margin: none ;
    margin-left:-6vw ;

    align-items: center;
    @media (max-width:400px) {
        flex-direction: column;
        text-align: center;
    }
    @media (max-width:800px) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.footer_case1{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    @media (max-width:400px) {
        flex-direction: column;
    }
    @media (max-width:800px) {
        display: flex;
        flex-direction: column;
    }
}
.footer_case2{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    @media (max-width:400px) {
        flex-direction: column;
    }
    @media (max-width:800px) {
        display: flex;
        flex-direction: column;
    }
}
.middle{
    text-align: center;
}
.logo2{
    margin-left: 3vw ;
}
.footerbottom{
    font-size: 12px;
    font-weight: 200;
}
.footertop{
    font-size: 16px;
    font-weight: 400;
}
.page_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: none;
    margin-top: -5vw;
    @media (max-width:400px) {
        flex-direction: column;
    }
}
.small_logo{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.page_bottom2{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
.compname{
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}